::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  /*border: 2px solid #fff8e5;
  */
  background: #00a19eb0;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00a19d;
}

.close-sidebar::-webkit-scrollbar {
  display: none;
}

.fullscreen-enabled {
  background: #fff;
}
