::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d6d5cf;
}

::-webkit-scrollbar-thumb {
  border: 2px solid #fff8e5;
  background: #00a19d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00a19d;
}

.close-sidebar::-webkit-scrollbar {
  display: none;
}

.fullscreen-enabled {
  background: #fff;
}
