::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  /* background: #d6d5cf; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00a19d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #24c9c6;
}

.close-sidebar::-webkit-scrollbar {
  display: none;
}

.fullscreen-enabled {
  background: #fff;
}
